@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0a0e1a;

  color: #c8d8e8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-e-header.is-open .p-e-header-background {
  left: 0;
}
.p-e-header-button-wrapper {
  margin-left: auto;
}
.p-e-header-icon {
  display: none;
}

.p-e-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-e-navigation-list.is-open {
  right: 0;
}
.p-e-header-icon-menu {
  display: block;
}

.p-e-header-icon-button.is-open .p-e-header-icon-menu {
  display: none;
}

.p-e-header-icon-button.is-open .p-e-header-icon-close {
  display: block;
}

.p-e-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #1e2a3a;
}

.p-e-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #1e2a3a;
}
.p-e-header.is-open .p-e-header-background {
  left: 0;
}
.p-e-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-e-header-icon-menu {
  display: block;
}

.p-e-header-icon-button.is-open .p-e-header-icon-menu {
  display: none;
}

.p-e-header-icon-button.is-open .p-e-header-icon-close {
  display: block;
}

.p-e-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.p-e-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;

  border-radius: 16px;

  padding-top: 16px;
  padding-bottom: 60px;

  gap: 28px;
  background: #1e2a3a;
}

.p-e-navigation-list.is-open {
  right: 0;
}

.p-e-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #c8d8e8;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.p-e-navigation-link:hover,
.p-e-navigatioт-link:focus {
  color: #00d4ff;
}

.p-e-header.is-open {
  background-color: transparent;
}

.p-e-navigation-img {
  display: none;
}

@media screen and (min-width: 1209px) {
  .p-e-navigation-img {
    display: block;
    margin-right: 498px;
  }
  .p-e-policy-terms-header-icon-menu {
    display: none;
  }
  .p-e-header-button-wrapper {
    display: none;
  }
  .p-e-header {
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .p-e-header-icon-button {
    display: none;
  }
  .p-e-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .p-e-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 46px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .p-e-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-e-navigation-item-desk {
    display: none;
  }
}
.p-e-home {
  width: 375px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero.png");

  margin: auto;
}
.p-e-home-container {
  width: 375px;
  height: 812px;
  padding: 210px 16px 0px;
  margin: auto;
}

.p-e-home-title {
  font-family: Rajdhani;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;

  color: #00d4ff;
}

.p-e-home-text {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 8px 0 44px;
}
.p-e-home-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-bottom: 215px;
}
.p-e-home-link {
  width: 256px;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.p-e-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1209px) {
  .p-e-home {
    width: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/Hero\ \(1\).png");

    margin: auto;
  }

  .p-e-home-container {
    width: 1440px;
    height: 846px;
    padding: 140px 160px 0px;
    margin: auto;
  }

  .p-e-home-title {
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 96px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .p-e-home-text {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 8px 0 64px;
  }
  .p-e-home-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 448px;
    padding-bottom: 148px;
  }
  .p-e-home-link {
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
}

.p-e-about-container {
  width: 375px;
  height: 1210px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Features.png");
  padding: 60px 16px 0px;
  margin: auto;
}
.p-e-about-title {
  font-family: Rajdhani;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.p-e-about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0px 0;
}
.p-e-about-list-two {
  padding-top: 251px;
}
.p-e-about-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #00d4ff;
}

.p-e-about-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 8px;
}

@media screen and (min-width: 1209px) {
  .p-e-about-container {
    width: 1440px;
    height: 976px;
    padding: 80px 160px;
    background-image: url("/img/Features\ \(1\).png");
  }
  .p-e-about-title {
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .p-e-about-list {
    gap: 24px;
    padding: 99px 0 0;
    width: 440px;
  }
  .p-e-about-list-two {
    padding-top: 99px;
    margin: 0 0 0 auto;
  }
  .p-e-about-text {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-e-about-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}

.p-e-why-container {
  width: 375px;
  margin: auto;
  height: 961px;
  padding: 60px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/How\ It\ Works.png");
}
.p-e-why-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.p-e-why-item {
  display: flex;
  flex-direction: column;
}
.p-e-why-text {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #00d4ff;
}

.p-e-why-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #00d4ff;
}

.p-e-why-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1209px) {
  .p-e-why-container {
    width: 1440px;
    height: 1134px;
    background-image: url("/img/How\ It\ Works\ \(1\).png");
    padding: 80px 160px;
  }
  .p-e-why-list {
    padding-top: 64px;
    flex-direction: row;
    gap: 32px;
  }
  .p-e-why-item {
    width: 352px;
  }

  .p-e-why-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .p-e-why-text {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .p-e-why-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.p-e-reviews-container {
  margin: auto;
  padding: 60px 16px;
  width: 375px;
}
.p-e-reviews-list {
  padding-top: 48px;
}

.p-e-reviews-item {
  margin: 0 8px auto;
  background: #1e2a3a;

  width: 300px;

  border-radius: 12px;
  padding: 16px;
}

.p-e-reviews-img {
  height: 15px;
}
.p-e-reviews-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 16px 0;
}

.p-e-reviews-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  color: #00d4ff;
}

@media screen and (min-width: 1209px) {
  .p-e-reviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }
  .p-e-reviews-list {
    padding-top: 64px;
  }
  .p-e-reviews-img {
    height: 18px;
  }
  .p-e-reviews-item {
    margin: 0 16px auto;
    width: 544px;
  }

  .p-e-reviews-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-e-reviews-text {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }
}
.p-e-faq {
  background: #1e2a3a;
}
.p-e-faq-container {
  padding: 60px 18px;
  width: 375px;
  height: 627px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/About.png");
}

.p-e-faq-item {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 48px;
}

@media screen and (min-width: 1209px) {
  .p-e-faq-container {
    padding: 80px 160px;
    width: 1440px;
    height: 509px;
    margin: auto;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: top;
    background-image: url("/img/About\ \(1\).png");
  }

  .p-e-faq-item {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 438px;
    padding-top: 63px;
  }
}
.p-e-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  color: #0a0e1a;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.p-e-policy-terms-container h1 {
  margin-bottom: 20px;
  font-family: Rajdhani;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.p-e-policy-terms-container h3 {
  margin: 20px 0;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.p-e-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.p-e-policy-terms-container a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 1209px) {
  .p-e-policy-terms-container {
    padding: 140px 160px 80px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .p-e-policy-terms-container h1 {
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .p-e-policy-terms-container h3 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.p-e-footer-container {
  width: 375px;
  padding: 40px 16px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.p-e-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-e-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.p-e-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1209px) {
  .p-e-footer-container {
    width: 1440px;
    padding: 40px 160px 16px;
    gap: 40px;
  }

  .p-e-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-e-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
